<!DOCTYPE html>
<html>
<head>
  <title>Grocery List</title>
  <link rel="stylesheet" href="s22010195.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <div class="grocery-list">
      <h3 clss="no">SELF PAY SYSTEM</h3>
      <div class="item" v-for="(item, index) in items" :key="index">
        <label :for="item.id">{{ item.name }}</label>
        <input type="number" :id="item.id" :name="item.id" min="0" step="1" v-model="item.quantity">
        <span class="price">{{ item.price }}</span>
      </div>
      <div class="total">
        <span>You have selected:</span>
        <span>{{ totalItems }}</span>
        <span>items and the total price is:</span>
        <span>{{ totalPrice }}</span>
      </div>
    </div>
  </div>
  <script src="s22010195.js"></script>
</body>
</html>