<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question 03</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

  <div id="app">

    <label for="marks-input">Enter your marks : </label>
    <input id="marks-input" type="number" v-model="marks">
    <p v-if="marks >= 80 && marks <= 100">Gold</p>
    <p v-else-if="marks >= 70 && marks <= 75">Silver</p>
    <p v-else-if="marks >= 60 && marks <= 65">Bronze</p>
    <p v-else-if="marks >= 50 && marks <= 55">Merit</p>
    <p v-else>Repeat</p>
    
  </div>





  <script>
    const app = Vue.createApp({
      data() {
        return {
          marks: null
        }
      }
    })

    app.mount('#app')
  </script>

  
</body>
</html>

